[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
psycopg2-binary = "*"
werkzeug = "*"
fastapi-jwt-auth = "*"
fastapi-jwt-auth-v2 = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
